<section class="h-[75vh] flex items-center justify-center text-white px- lg:px-61 relative overflow-hidden"
    style="background-image: url('assets/images/line.svg'); background-size: cover; background-position: center;">
    <div class="absolute inset-0 "></div>
    <div
        class="relative max-w-7xl flex flex-col md:flex-row items-center justify-center md:items-center gap-12 h-full w-full">
        <div class="flex-1">
            <h1 class="text-5xl md:text-6xl font-extrabold leading-tight">
                Hi, I’m Kevin.<br />
                <span class="bg-gradient-to-r from-[#722EFA] via-[#c084fc] to-[#a084fa] bg-clip-text text-transparent">
                    A software developer.
                </span>
            </h1>
            <p class="mt-6 text-lg text-gray-400 max-w-2xl">
                Versatile developer specializing in web and software development, from front-end frameworks to backend
                APIs.
            </p>
        </div>
        <div class="flex-shrink-0">
            <div class="p-[4px] rounded-full bg-gradient-to-r from-[#722EFA] via-[#c084fc] to-[#a084fa]">
                <img src="assets/images/Avatar2.png" alt="Avatar"
                    class="w-100 h-100 rounded-full object-cover bg-[#161C25]" />
            </div>
        </div>
    </div>
</section>

<section class="px-8 lg:px-60" id="1">
    <div class="max-w-7xl p-[2px] mx-auto rounded-xl "
        style="background: linear-gradient(135deg, rgba(255,255,255,0.12) 0%, rgba(255, 255, 255, 0.03) 100%); backdrop-filter: blur(8px); box-shadow: 0 4px 24px rgba(41, 7, 51, 0.08);">
        <div class=" p-8 flex flex-col md:flex-row items-center justify-center gap-12 md:gap-24 rounded-xl">
            <div class="flex-1 text-center md:text-left max-w-xl">
                <h2 class="text-3xl text-white font-bold mb-6 ">About me</h2>
                <p class="text-gray-300">
                    Hi, I’m Kevin — a software developer specializing in Angular, front-end, and some back end
                    languages. I
                    enjoy creating cool looking webpages with a beautiful design. I’ve worked
                    on everything from interactive dashboards to event pages, always with a focus on clean,
                    user friendly design. Check out my projects
                    below!
                </p>
                <div class="mt-8 flex justify-center md:justify-start gap-6">
                    <a href="mailto:Troostkevin8@gmail.com" aria-label="Email">
                        <svg class="w-7 h-7" viewBox="0 -31.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <path
                                        d="M58.1818182,192.049515 L58.1818182,93.1404244 L27.5066233,65.0770089 L0,49.5040608 L0,174.59497 C0,184.253152 7.82545455,192.049515 17.4545455,192.049515 L58.1818182,192.049515 Z"
                                        fill="#4285F4"> </path>
                                    <path
                                        d="M197.818182,192.049515 L238.545455,192.049515 C248.203636,192.049515 256,184.224061 256,174.59497 L256,49.5040608 L224.844415,67.3422767 L197.818182,93.1404244 L197.818182,192.049515 Z"
                                        fill="#34A853"> </path>
                                    <polygon fill="#EA4335"
                                        points="58.1818182 93.1404244 54.0077618 54.4932827 58.1818182 17.5040608 128 69.8676972 197.818182 17.5040608 202.487488 52.4960089 197.818182 93.1404244 128 145.504061">
                                    </polygon>
                                    <path
                                        d="M197.818182,17.5040608 L197.818182,93.1404244 L256,49.5040608 L256,26.2313335 C256,4.64587897 231.36,-7.65957557 214.109091,5.28587897 L197.818182,17.5040608 Z"
                                        fill="#FBBC04"> </path>
                                    <path
                                        d="M0,49.5040608 L26.7588051,69.5731646 L58.1818182,93.1404244 L58.1818182,17.5040608 L41.8909091,5.28587897 C24.6109091,-7.65957557 0,4.64587897 0,26.2313335 L0,49.5040608 Z"
                                        fill="#C5221F"> </path>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="https://github.com/KevinT010" target="_blank" rel="noopener noreferrer"
                        aria-label="GitHub">
                        <svg class="w-7 h-7 text-gray-300 hover:text-gray-100 transition-colors" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M12 2C6.477 2 2 6.484 2 12.021c0 4.428 2.867 8.184 6.839 9.504.5.092.682-.217.682-.482 0-.237-.009-.868-.014-1.703-2.782.605-3.369-1.342-3.369-1.342-.454-1.154-1.11-1.462-1.11-1.462-.908-.62.069-.608.069-.608 1.004.07 1.532 1.032 1.532 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.221-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.254-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.025A9.564 9.564 0 0 1 12 6.844c.85.004 1.705.115 2.504.337 1.909-1.295 2.748-1.025 2.748-1.025.546 1.378.202 2.396.1 2.65.64.7 1.028 1.595 1.028 2.688 0 3.847-2.337 4.695-4.566 4.944.36.31.68.921.68 1.857 0 1.34-.012 2.42-.012 2.75 0 .267.18.579.688.48C19.135 20.2 22 16.447 22 12.021 22 6.484 17.523 2 12 2z" />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/kevin-troost-24b701225/" target="_blank"
                        rel="noopener noreferrer" aria-label="LinkedIn">
                        <svg class="w-7 h-7" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 382 382" xml:space="preserve"
                            fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path style="fill:#0077B7;"
                                    d="M347.445,0H34.555C15.471,0,0,15.471,0,34.555v312.889C0,366.529,15.471,382,34.555,382h312.889 C366.529,382,382,366.529,382,347.444V34.555C382,15.471,366.529,0,347.445,0z M118.207,329.844c0,5.554-4.502,10.056-10.056,10.056 H65.345c-5.554,0-10.056-4.502-10.056-10.056V150.403c0-5.554,4.502-10.056,10.056-10.056h42.806 c5.554,0,10.056,4.502,10.056,10.056V329.844z M86.748,123.432c-22.459,0-40.666-18.207-40.666-40.666S64.289,42.1,86.748,42.1 s40.666,18.207,40.666,40.666S109.208,123.432,86.748,123.432z M341.91,330.654c0,5.106-4.14,9.246-9.246,9.246H286.73 c-5.106,0-9.246-4.14-9.246-9.246v-84.168c0-12.556,3.683-55.021-32.813-55.021c-28.309,0-34.051,29.066-35.204,42.11v97.079 c0,5.106-4.139,9.246-9.246,9.246h-44.426c-5.106,0-9.246-4.14-9.246-9.246V149.593c0-5.106,4.14-9.246,9.246-9.246h44.426 c5.106,0,9.246,4.14,9.246,9.246v15.655c10.497-15.753,26.097-27.912,59.312-27.912c73.552,0,73.131,68.716,73.131,106.472 L341.91,330.654L341.91,330.654z">
                                </path>
                            </g>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"
                        aria-label="Instagram">
                        <svg class="w-7 h-7" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 551.034 551.034"
                            xml:space="preserve" fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g id="XMLID_13_">
                                    <linearGradient id="XMLID_2_" gradientUnits="userSpaceOnUse" x1="275.517"
                                        y1="4.5714" x2="275.517" y2="549.7202"
                                        gradientTransform="matrix(1 0 0 -1 0 554)">
                                        <stop offset="0" style="stop-color:#E09B3D"></stop>
                                        <stop offset="0.3" style="stop-color:#C74C4D"></stop>
                                        <stop offset="0.6" style="stop-color:#C21975"></stop>
                                        <stop offset="1" style="stop-color:#7024C4"></stop>
                                    </linearGradient>
                                    <path id="XMLID_17_" style="fill:url(#XMLID_2_);"
                                        d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722 c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156 C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156 c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722 c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z">
                                    </path>
                                    <linearGradient id="XMLID_3_" gradientUnits="userSpaceOnUse" x1="275.517"
                                        y1="4.5714" x2="275.517" y2="549.7202"
                                        gradientTransform="matrix(1 0 0 -1 0 554)">
                                        <stop offset="0" style="stop-color:#E09B3D"></stop>
                                        <stop offset="0.3" style="stop-color:#C74C4D"></stop>
                                        <stop offset="0.6" style="stop-color:#C21975"></stop>
                                        <stop offset="1" style="stop-color:#7024C4"></stop>
                                    </linearGradient>
                                    <path id="XMLID_81_" style="fill:url(#XMLID_3_);"
                                        d="M275.517,133C196.933,133,133,196.933,133,275.516 s63.933,142.517,142.517,142.517S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6 c-48.095,0-87.083-38.988-87.083-87.083s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083 C362.6,323.611,323.611,362.6,275.517,362.6z">
                                    </path>
                                    <linearGradient id="XMLID_4_" gradientUnits="userSpaceOnUse" x1="418.306"
                                        y1="4.5714" x2="418.306" y2="549.7202"
                                        gradientTransform="matrix(1 0 0 -1 0 554)">
                                        <stop offset="0" style="stop-color:#E09B3D"></stop>
                                        <stop offset="0.3" style="stop-color:#C74C4D"></stop>
                                        <stop offset="0.6" style="stop-color:#C21975"></stop>
                                        <stop offset="1" style="stop-color:#7024C4"></stop>
                                    </linearGradient>
                                    <circle id="XMLID_83_" style="fill:url(#XMLID_4_);" cx="418.306" cy="134.072"
                                        r="34.149"></circle>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="flex-1 max-w-xl">
                <div class="flex flex-col gap-6 text-gray-300">
                    <div>
                        <p class="font-semibold text-white">Education</p>
                        <div class="flex items-center gap-4 flex-wrap">
                            <img src="assets/images/techniekcollege.png" alt="Techniek College Rotterdam"
                                class="h-6 w-auto" />
                            <span>Techniek College Rotterdam</span>
                        </div>
                        <div class="flex items-center gap-4 flex-wrap mt-2">
                            <img src="assets/images/hg.jpeg" alt="Rotterdam University of Applied Sciences"
                                class="h-6 w-auto" />
                            <span>Rotterdam University of Applied Sciences</span>
                        </div>
                    </div>
                    <div>
                        <p class="font-semibold text-white">Age</p>
                        <p>{{ getAge() }} Years</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="mt-24"></div>

<section class="px-8 lg:px-60 py-20 overflow-hidden text-white" id="2">

    <div class="flex flex-col lg:flex-row gap-12 lg:gap-20 max-w-7xl mx-auto items-center">

        <div class="flex-1 space-y-8">

            <div class="flex gap-4">
                <div>
                    <h2 class="text-4xl lg:text-5xl font-bold leading-tight">
                        My programming<br>
                        {{ currentTitle }}
                    </h2>
                </div>
            </div>

            <p class="text-gray-400 text-lg leading-relaxed max-w-md">
                I develop simple, intuitive and responsive user interfaces that help users get things done with less
                effort.
            </p>

            <div class=" inline-flex flex-wrap justify-center rounded-3xl sm:rounded-full p-1.5 border border-white/5 shadow-inner"
                style="background: linear-gradient(135deg, rgba(255,255,255,0.12) 0%, rgba(255, 255, 255, 0.03) 100%);">

                <button (click)="setTab('language')"
                    class="px-6 py-2.5 rounded-full font-medium transition-all duration-300 text-sm sm:text-base"
                    [class.bg-gradient-to-r]="currentTab === 'language'"
                    [class.from-[#8b5cf6]]="currentTab === 'language'" [class.to-[#c084fc]]="currentTab === 'language'"
                    [class.text-white]="currentTab === 'language'" [class.text-gray-400]="currentTab !== 'language'">
                    Languages
                </button>

                <button (click)="setTab('framework')"
                    class="px-6 py-2.5 rounded-full font-medium transition-all duration-300 text-sm sm:text-base"
                    [class.bg-gradient-to-r]="currentTab === 'framework'"
                    [class.from-[#8b5cf6]]="currentTab === 'framework'"
                    [class.to-[#c084fc]]="currentTab === 'framework'" [class.text-white]="currentTab === 'framework'"
                    [class.text-gray-400]="currentTab !== 'framework'">
                    Frameworks
                </button>

                <button (click)="setTab('tool')"
                    class="px-6 py-2.5 rounded-full font-medium transition-all duration-300 text-sm sm:text-base"
                    [class.bg-gradient-to-r]="currentTab === 'tool'" [class.from-[#8b5cf6]]="currentTab === 'tool'"
                    [class.to-[#c084fc]]="currentTab === 'tool'" [class.text-white]="currentTab === 'tool'"
                    [class.text-gray-400]="currentTab !== 'tool'">
                    Tools
                </button>

            </div>
        </div>

        <div class="flex-1 w-full">
    <div class="flex flex-wrap gap-5 justify-center lg:justify-end min-h-[300px] content-start">

        @for (item of filteredItems; track item.skill) {

        <div (click)="selectSkill(item)" class="group w-20 h-20 sm:w-24 sm:h-24 rounded-2xl flex items-center justify-center cursor-pointer 
              transition-all duration-500 ease-in-out border border-white/5
              hover:!scale-110 hover:shadow-xl hover:z-10 relative"
            [class.border-[#d9834f]]="selectedSkill === item" 
            [class.bg-white-10]="selectedSkill === item"
            style="background: linear-gradient(135deg, rgba(255,255,255,0.12) 0%, rgba(255, 255, 255, 0.03) 100%);
              box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);">

            <span class="absolute bottom-full mb-3 left-1/2 -translate-x-1/2 
                         px-2 py-1 rounded-md shadow-lg
                         text-white bg-gray-900/90 text-xs font-semibold whitespace-nowrap
                         opacity-0 group-hover:opacity-100 transition-opacity duration-300
                         pointer-events-none z-20">
                {{ item.skill }}
            </span>

            <img [src]="item.icon" [alt]="item.skill" class="w-10 h-10 sm:w-12 sm:h-12 object-contain" />

        </div>
        }

    </div>
</div>

    </div>
</section>

<section class="px-8 lg:px-60 mb-24" id="3">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        @for (project of projects; track project.title) {
        <div class="rounded-2xl overflow-hidden shadow-lg"
            style="background: linear-gradient(135deg, rgba(255,255,255,0.12) 0%, rgba(255, 255, 255, 0.03) 100%); backdrop-filter: blur(8px); box-shadow: 0 4px 24px rgba(41, 7, 51, 0.08);">
            <img [src]="project.image" [alt]="project.title" class="w-full h-54 object-contain" />
            <div class="p-6">
                <h2 class="text-xl text-white font-bold mb-2">{{ project.title }}</h2>
                <p class="text-gray-300 mb-4">{{ project.description }}</p>
                <a [href]="project.link" target="_blank" rel="noopener noreferrer"
                    class="inline-block bg-gradient-to-r from-[#8b5cf6] to-[#c084fc] text-white px-4 py-2 rounded-lg hover:opacity-90 transition-opacity">
                    View Project
                </a>
            </div>
        </div>
        }
    </div>
</section>